<!DOCTYPE html>
<html ng-app="app">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-controller="CuteCtrl">
  <a ng-click="loadPics()">Gimme some pics</a> 
  <img
    ng-repeat="src in imageLocations"
    ng-src="{{ src }}"
    />


  <section>
    
  </section>

  
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<!-- <script src="lib/angular/angular.js"></script> -->
<script src="app.js"></script>
</body>
</html>