<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset='utf-8'> 
    <title>Cats: Cute or Not (^o^)</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="app.js"></script>
    <script src="controllers.js"></script>
  </head>
  
  <body>
    <div ng-controller="CuteCtrl">
      <h1>Cats: Cute or not??</h1>
      <p>
      <img class="pics" ng-repeat="src in images" ng-src="{{ src.src }}" >
        {{src}}: {{counts[$index] || 0}
        <button ng-click="upVote($index,src)">+1</button>
      </p>
    <!-- <ul>
      <li ng-repeat="src in imageLocations">
        ng-src="{{ src }}"
      </li>
    </ul> -->
      <p>Total: {{ total }}</p>
     
      <p>
        And the winner is {{max_candidate}} with {{max_percentage()}}% of the votes
      </p>
    
    </div>
  </body>
  <!-- <script src="lib/angular/angular.js"></script> -->
</html>