<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset='utf-8'> 
    <title>Cats: Cute or Not (^o^)</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="app.js"></script>
    <script src="controllers.js"></script>
  </head>
  
  <body>
    <div ng-controller="CuteCtrl">
      <h1>Cats!! Cats!! Cats!! Cats!! Cats!!</h1>
      
      <div ng-repeat="src in images" >
        <img ng-src="{{ src.src }}"  >
        <p>{{src.title}}: {{counts[$index] || 0}}</p>
        <button ng-click="upVote($index,src)">+1</button>
      </div>
      
      <p>Total: {{ total }}</p>
     
      <p>
        And the winner is {{ winner }} with {{ percent() }}% of the votes
      </p>
    
    </div>
  </body>
  <!-- <script src="lib/angular/angular.js"></script> -->
</html>