body {
	text-align: center;
	/*font-family: 'Poiret One', cursive;*/
	font-family: 'Nunito', sans-serif; /* font applies to ENTIRE BODY */
	background-color: #FFCC80;
}
h1 {
	background-color: #FFF0B2; 	
	padding-top: 50px;
	padding-bottom: 50px;
	border-radius: 10px;
}
.underLayer {

	background-color: #FFFAE6; 
}
.upperLayer {
	background-color: #FFE0B2; 
}
img {
	width: 40%;
	max-height: 205px;
	width: auto;
	border-radius: 20px
}