body {
	text-align: center;
	background-image: url("http://s3.favim.com/orig/45/bite-blackampwhite-cat-cats-love-Favim.com-401192.jpg");
	font-family: 'Helvetica';

}

h1 {
	color: "FFF";
}

img {
	display: inline-block;
	width: 25%;
}